<!doctype html>
<html>
    
        <head>
            <title>{{title}}</title>
            <link rel="stylesheet" type="text/css" href="/static/css/usersignup.css"/>
        </head>

    <div id="container">

        <header>
            <nav>
                <a href="/">Home Page</a>
                <a href="/log-in">Log In</a>
            </nav>
        </header>

        <body>
            {% block body %}
            {% endblock %}
        </body>

        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    
    </div><!--closes container-->
</html>