<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
        <link rel="stylesheet" href="./User_Signup_css.css">
    </head>

    <div id="container">

        <header>
            <nav>
                <a href="./index.html">Home Page</a>
                <a href="./home_template.html">Log In</a>
            </nav>
        </header>

        <body>
            <h1>Log In</h1>
        
            <a href="./sign_up_form.html">Click Here to Sign Up!!</a>
                
        </body>

        <footer>
        </footer>

    </div><!--closes container-->
</html>